@font-face {
    font-family: ProximaNova-Light;
    src: url(/client/dev/fonts/ProximaNova_Light/ProximaNova_Light.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url(/client/dev/fonts/ProximaNova_Regular/ProximaNova_Regular.ttf);
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url(/client/dev/fonts/ProximaNova_Semibold/ProximaNova_Semibold.ttf);
}
